[submodule "lib/MemoryMapping"]
	path = lib/MemoryMapping
	url = https://github.com/stbrumme/portable-memory-mapping
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog
